# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
ENV/
env/
build/
dist/
*.spec

# MediaPipe
mediapipe-env/

# Data
yolov8-face/
*.pt

# Masks (keep folder via .gitkeep)
masks/*
!masks/.gitkeep

# OS
.DS_Store
Thumbs.db
